@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: #9aa6b2;
  --color-secondary: #bcccdc;
  --color-tertiary: #d9eafd;
  --color-background: #f8fafc;
}
