@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f9f7f7;
  --primary: #6096b4;
  --secondary: #dbe2ef;
  --tertiary: #112d4e;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
}
